* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  background-color: #f1f5f9;
}

#root {
  width: 100%;
  height: 100%;
}